body {
  font-family: "Great Vibes", cursive;
  background: linear-gradient(
    90deg,
    rgba(250, 221, 193, 1) 0%,
    rgba(250, 221, 193, 1) 32%,
    rgba(255, 255, 255, 1) 100%
  );
}
.carousel-inner {
  background: linear-gradient(
    to top,
    rgb(40, 39, 38) 0%,
    rgb(40, 39, 38) 25%,
    rgb(40, 39, 38) 75%,
    rgb(40, 39, 38) 100%
  );
}
.carousel-item img {
  display: block;
  margin: 1% 15% 1%15%;
  width: 20%;
  float: left;
  object-fit: cover;
  border-radius: 50%;
}
.carousel-item h2 {
  font-size: 250%;
  margin-top: 8%;
  color: #fadcbc;
}
.card-body {
  background: #212529;
  color: white;
  border-radius: 0 0 25px 25px;
}
.card {
  border-radius: 25px;
  flex: auto;
}
.card img {
  border-radius: 25px 25px 0 0;
}
.card-body h5 {
  color: #fadcbb;
}
.card-body a {
  text-decoration: none;
}
.navbar {
  height: 100px;
  position: fixed;
  display: flex;
  padding: 40px;
  justify-content: space-evenly;
  top: 0;
  background: #00386b;
  color: white;
  width: 100%;
  z-index: 1;
}
#carouselExampleInterval {
  margin-top: 100px;
}
.navbar-collapse {
  background: #212529;
  margin-top: 10px;
  color: white;
  border-radius: 10px;
}
.nav-link {
  color: white;
  padding: 10px 40px;
}
.form-group {
  padding: 10px 40px;
}
.footer-logo {
  background: white;
  border-radius: 50%;
  display: block;
  margin: 0 20px;
}
.footer-h6 {
  color: #fadcbb;
  font-size: 18px;
}
.fb-icon {
  width: 14px;
}
.copyright {
  color: #fadcbb;
}
